* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: #fff;
}
body {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-size: 1rem;
}

.container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

header {
  text-align: center;
  background-color: black;
  color: white;
}

.container.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
}

.search-book-container input {
  min-height: 30px;
  font-size: 1rem;
  max-width: 200px;
  padding-left: 10px;
}

.search-book-container button {
  padding: 3px 5px;
  font-size: 1rem;
}
.dialog-box {
  margin: 100px auto;
  width: 250px;
  padding: 10px;
}

.dialog-box ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px 0;
}

.dialog-box button {
  padding: 3px 5px;
  font-size: 1rem;
}

.dialog-box input {
  min-height: 30px;
  padding-left: 5px;
  font-size: 1rem;
}

.dialog-box ul li:not(:last-child) {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.dialog-box ul li:last-child {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dialog-box ul li:last-child input {
  height: 20px;
  width: 20px;
}

/* MAIN SECTION */
.container.main {
  border: 1px solid black;
  height: 100%;
  padding: 10px;
}

.main-header {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.book-list-heading {
  font-size: 1.5rem;
  font-weight: 600;
}

.add-book-btn {
  padding: 3px 5px;
  font-size: 1rem;
}

.filter-container {
  margin: 10px 0;
}

.filter-container select {
  padding: 2px 5px;
  font-size: 1rem;
}

.books-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.book-item {
  border: 1px solid black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-between;
}

.book-item:hover {
  border: 1px solid steelblue;
}

.book-status-value {
  color: white;
  display: inline-block;
  padding: 2px 5px;
  font-size: 0.9rem;
}

.book-info-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.book-status-value.complete {
  background-color: blue;
}

.book-status-value.not-complete {
  background-color: red;
}

.book-title {
  font-size: 1.5rem;
}

.book-main-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.book-button-container button {
  padding: 2px 5px;
}

.warning-title {
  color: red;
  font-size: 0.9rem;
}

.book-button-container {
  margin: 5px 0;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: black;
  color: white;
}
